/* color palette from <https://github.com/vuejs/theme> */

:root {
  --white: #ffffff;
  --black: #151515;
  --grey: #2d2d2d;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-primary: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-primary: var(--white);
  }
}
@font-face {
  font-family: "MedulaOne";
  src: url("./fonts/MedulaOne-Regular.ttf");
}

body {
  min-height: 100vh;
  color: var(--color-primary);
  background: var(--color-background);
  transition: color 0.4s, background-color 0.4s;
  font-size: 1vw;
  font-family: "MedulaOne";
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}
