/* color palette from <https://github.com/vuejs/theme> */

:root {
  --white: #ffffff;
  --black: #151515;
  --grey: #2d2d2d;
  --opa-black: rgba(0, 0, 0, 0.3);
  --milk: #f0f0f0;
}

/* semantic color variables for this project */
/* :root {
  --color-background: var(--white);
  --color-primary: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-primary: var(--white);
  }
} */
.dark {
  --color-background: var(--black);
  --color-primary: var(--white);
}
.light {
  --color-background: var(--white);
  --color-primary: var(--black);
  --grey: #f0f0f0;
  --milk: #2d2d2d;
}
@font-face {
  font-family: "MedulaOne";
  src: url("./fonts/MedulaOne-Regular.ttf");
}

body {
  min-height: 100vh;
  color: var(--color-primary);
  background: var(--color-background);
  transition: color 0.4s, background-color 0.4s;
  font-size: 1vw;
  font-family: "MedulaOne";
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body,
html {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: var(--color-primary);
}

section {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  position: relative;
  overflow: hidden;
}
